.herocontainer {
  background-image: url("../assets/images/juanjo-jaramillo-mZnx9429i94-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  transition: background 2s ease-in;
}

